@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}

body {
	background: #eeedec;
	font-size: 0.8em;
	letter-spacing: 0.1em;
}

.container {
	max-width: 400px;
	/*transform: scale(0.9);*/
}

main form, main h2 {
	letter-spacing: 0em;
}

main .icon {
	position: relative;
	top: -50px;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.4s;
}

main .icon:hover {
	transform: scale(1.2);
}